<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Parlei</title>
</head>
<body>
  <h1>Parlei</h1>
  <form method="post" id="post_form">
    <input id="post_text" type="text" name="post_text">
    <input type="submit" value="Parlei">
  </form>
  <hr>
  <div>Total Messages: <span class="total"></span></div>
  <div>Average Message Length: <span class="average"></span></div>
  <div>Five Recent Messages: <ul class="posts"></ul></div>
  <div>Longest Message: <span class="longest"></span></div>
  <script src="script.js"></script>
</body>
</html>
